body {
	background: 	#2F4F4F;
}



/* ul {


	list-style: none;
	padding-left: -50px;
} */

/* li {
  background-color: 	#1E90FF;
	border-radius: 6px;
	display: block;
	width: 160px;
  padding: 3px 10px;
	margin: 10px 0 0 -23px;

} */
/* li:hover {
  background-color: 	white;
	border-radius: 6px;
	display: block;
	width: 160px;
  padding: 3px 10px;
	margin: 10px 0 0 -23px;

} */
/* li:active {
  background-color:black;
	border-radius: 6px;
	display: block;
	width: 160px;
  padding: 3px 10px;
	margin: 10px 0 0 -23px;

} */
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h6 {
	text-align: center;
	color: white;
}


a {
	text-decoration: none;
		color: white;
		display: block;
}

.grid {
display: grid;
grid-template-columns: 240px auto;
grid-template-rows: 40px 3fr 40px;
align-content: start;
max-height: 100vh;

}

.itemhead {
grid-area: 1 / 1 / span 1 / span 2;
background-color: 	#4169E1;
}

.item1 {
	grid-area: 2 / 1 / span 1 / span 1;
	overflow: auto;
 padding-left: 10px;


}

.item2 {
		grid-area: 2 / 2 / span 1 / span 1;
	background-color: white;
	color: black;
	padding: 20px;
}

.itemfooter {
	background-color: 	#B8860B;
grid-area: 3 / 1 / span 1 / span 2;


}


@media screen and (max-width: 520px) {

	.grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 40px 180px auto 40px;
	align-content: stretch;
	height: 100vh;
	}

	.itemhead {
	grid-area: 1 / 1 / span 1 / span 1;

	}

	.item1 {
		grid-area: 2 / 1 / span 1 / span 1;
		overflow: scroll;



	}

	.item2 {
			grid-area: 3 / 1 / span 1 / span 1;
		background-color: white;
		color: black;
		padding: 20px;
	}

	.itemfooter {
		background-color: 	#B8860B;
	grid-area: 4 / 1 / span 1 / span 1;


	}
